<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            class="form-control"
            ngModel
            name="email"
            required
            #email="ngModel"
          >
          <span
          class="help-block"
          *ngIf="!email.valid && email.touched"
        >Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select name="subscription" [ngModel]="defaultSubscription" class="form-control">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            ngModel
            required
          >
        </div>
        <button class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Form Data</h3>
      <p>Email: {{ subscription.email }}</p>
      <p>Subscription: {{ subscription.subscription }}</p>
      <p>Password: {{subscription.pwd }}</p>
    </div>
  </div>
</div>